@import './node_modules/@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
body > .profile-container {
  width: 70%;
  height: 100%;
  overflow-y: scroll;
  background: #FAFBFC;
  padding: 1.5rem;
}
.profile-container > #customer-matched {
  color: #6B6B6B;
  font-size: 1rem;
}
.profile-info {
  margin-top: 1.25rem;
  padding: 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2.5rem repeat(3, 1fr);
  grid-template-areas: "collapse header1 header2 header3"
    "collapse value1 value2 value3";
}
.border-class {
  border: 1px solid rgba(193, 193, 197, 0.3);
}
.white-bg {
  background: #FFFFFF;
}
#collapse-icon-div {
  grid-area: collapse;
  align-self: center;
}
#collapse-icon {
  cursor: pointer;
}
.uil-angle-right {
  color: #AEB7C0;
}
.header-size {
  font-size: 14px;
}
.text-color {
  color: #2B2B2B;
}
.bold-color {
  font-weight: bold;
}
.value-size {
  font-size: 12px;
}
.consent-preference {
  width: 100%;
  height: 12rem;
  border-top: 0;
  grid-template-rows: 5rem repeat(2, 1fr);
  border-radius: 0 0 0.25rem 0.25rem;
  display: none;
}
.consent-preference > .preference-header {
  padding: 2rem 1rem;
}
.consent-preference > .preference-div {
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 2.5rem repeat(2, 1fr);
  align-items: center;
}
.bottom-border {
  border-bottom: 1px solid rgba(193, 193, 197, 0.3);
}
.consent-toggle-switch {
  --bar-height: 10px;
  --knob-size: 15px;
}